/******* Header *******/

header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, $blue, $white);
  padding-left: 1%;
  color: $white;

  h1 {
    padding: 21px 0;
    margin-left: 20px;
    font-size: 3vh;
  }

  span.fa {
    font-size: 3em;
  }
}

.fa {
  color: $white;
  transition: color 1s;
}

.blue {
  color: $light-blue;
}

#welcomeText {
  padding: 10px 5px;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}
