/******* Header *******/

header-1, header-2, header-3 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, $colorPrimary, $white);
  padding-left: 1%;
  color: $white;

  h1 {
    padding: 21px 0;
    margin-left: 20px;
    font-size: 3vh;
  }

  span.fa {
    font-size: 3em;
  }
}

.fa {
  color: $white;
  transition: color 1s;
}

.blue {
  color: $light-blue;
}
