/******* Canvas *******/

#canvas_container { /* container de présentation + canvas + submit */
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: $withe-2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#canvas_message { /* consigne expliquant le canvas */
  background-image: linear-gradient(to bottom, $colorPrimary, $white);
  flex-wrap: wrap;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px;

  h1 {
    color: $white;
    padding: 21px 0;
    margin-left: 20px;
    font-size: 3vh;
  }
}

#canvas_div { /* div enveloppant le canvas */
  background-color: $withe-2;
  box-sizing: border-box;
  border-bottom: 6px solid $withe-2;
  margin: 0;
  width: 100%;
  height: 60%;
  cursor: crosshair;
}

#canvas_resa { /* canvas */
  box-sizing: border-box;
  display: block;
  position: relative;
  background-color: $white;
  width: 100%;
  height: 100%;
}

#canvas_confirm { /* boutons submit + clear */
  border-top: 5px solid $withe-2;
  height: 20%;
  background-color: $withe-2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
  box-sizing: border-box;
}

#clear_canvas { /* remise à zéro du canvas */
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border: 1px solid $colorPrimary;
  border-radius: 3px;
  background-color: $white;
  font-size: 15px;
}

#submit_canvas { /* submit du canvas */
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: $colorPrimary;
  font-size: 15px;
  color: $white;

  &:hover {
    background-color: $colorSecondary;
  }
}

footer {
  background-color: $grey;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 20px 0 20px;

  a {
    text-decoration: none;
    color: $white;
  }

  p:first-child {
    margin-right: 20px;
  }

}
