/******* Modal *******/

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@include btn__split($colorPrimary, $colorSecondary, $black); // appel à la mixin

.js-modal {
  display: block;
  @include border-radius (8px);
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .4px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: $white;
  transition: all .3s ease-in-out;
  cursor: pointer;
  margin: 90px auto auto;
  width: 60%;

  &:hover {
    color: #00a0e1;
    background: transparent;
    box-shadow: 0 0 2px rgba(0, 158, 227, 0.5);
    outline: 0;
  }

  a {
    color: $black;
    text-decoration: none;
    background-color: transparent;

    &:hover {
      color: #00a0e1;
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  animation: fadeIn .3s both;
}

.modal-wrapper {
  overflow: auto;
  width: 500px;
  height: 500px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  border: 1px solid $black;
  border-radius: 10px;
  background-color: #b6d74970;
  padding: 20px;
  animation: slideFromTop .5s both;

  .modal-header {
    border-bottom: 1px solid $black;
    display: block;

    h2 {
      font-weight: bold;
      color: $black;
    }
  }

  .modal-inner {
    display: block;
    padding: 1em 1em;
    border-bottom: 1px solid $black;

    h3 {
      font-weight: bold;
      color: $black;
    }
  }

  p {
    color: $whitesmoke;
  }

  ul {
    li {
      color: $whitesmoke;
    }
  }

  button {
    margin: 1em;

    &:hover {
      color: #00a0e1;
    }
  }
}

.modal[aria-hidden="true"] {
  animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
  animation-name: slideToBottom;
}

