@charset "UTF-8";
@media all and (min-width: 1367px) {
  /* responsive écrans HD */
  #form_confirm {
    margin: 30px 0 50px 0; }

  #form_exp {
    margin: 30px 0 50px 0; } }
@media all and (max-width: 576px) {
  /* responsive smartphones (320px-576px) */
  #form_bikes legend {
    padding: 0 10px 10px 10px; }

  #form_container form input {
    margin-top: 0; }

  #form_container form label {
    margin-left: 5px; }

  #name {
    margin: 0 0 15px 5px;
    width: 80%; }

  #firstname {
    margin: 0 0 20px 5px;
    width: 80%; }

  #reservation {
    margin: 0 0 10px 5px; } }
@media all and (min-width: 1367px) {
  /* responsive écrans HD */
  #map_container {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px; }

  #form_container {
    width: 100%; } }
@media all and (max-width: 992px) {
  /* responsive écrans tablette (768px-992px) */
  #map {
    width: 60%; }

  #map_container {
    flex-wrap: wrap;
    justify-content: center; }

  #form_container {
    width: 40%;
    height: auto;
    max-width: 60%; }

  .presentation {
    padding: 40px 30px 30px 30px; }

  #before_form li {
    text-align: center; } }
@media all and (max-width: 768px) {
  /* responsive grands smartphones (576px-768px) */
  #map {
    width: 100%; }

  #form_container {
    width: 100%;
    max-width: 100%; } }
@media all and (max-width: 576px) {
  /* responsive smartphones (320px-576px) */
  #map {
    height: 300px; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes slideFromTop {
  from {
    transform: translateY(-50px); }
  to {
    transform: translateY(0px); } }
@keyframes slideToBottom {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(50px); } }
body {
  margin: 0;
  padding: 4em;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5; }

main {
  margin: 1em; }

p {
  margin-top: revert; }

.card {
  margin-bottom: 1em;
  height: 350px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

.card-1 {
  margin-bottom: 1em;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(218, 218, 218, 0.6);
  border-radius: .25rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }

/******* header *******/
header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, #00194d, #fff);
  padding-left: 1%;
  color: #fff; }
  header h1 {
    padding: 21px 0;
    margin-left: 20px;
    font-size: 3vh; }
  header span.fa {
    font-size: 3em; }

.fa {
  color: #fff;
  transition: color 1s; }

.blue {
  color: #5698c6; }

#welcomeText {
  padding: 10px 5px;
  font-size: 1.3em;
  font-weight: 700;
  text-align: center; }

/******* header / menu *******/
#logo {
  width: 100px;
  position: fixed;
  top: 20px;
  right: 80px;
  display: block;
  z-index: 20; }

i {
  color: #fff;
  font-size: 3em; }

.open {
  position: fixed;
  top: 10px;
  right: 25px;
  width: 35px;
  height: 30px;
  display: block;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.2s linear; }
  .open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 35px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 5px;
    top: 5px;
    overflow: hidden;
    transition: all 0.4s ease; }
    .open span:nth-child(1) {
      margin-top: 10px;
      z-index: 9; }
    .open span:nth-child(2) {
      margin-top: 25px; }
    .open span:nth-child(3) {
      margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(218, 218, 218, 0.6);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden; }
  .sub-menu li {
    font-weight: bold;
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .sub-menu li:first-child {
      margin-top: 180px; }
    .sub-menu li:nth-child(1) {
      transition-delay: 0.05s; }
    .sub-menu li:nth-child(2) {
      transition-delay: 0.1s; }
    .sub-menu li:nth-child(3) {
      transition-delay: 0.15s; }
    .sub-menu li:nth-child(4) {
      transition-delay: 0.2s; }
    .sub-menu li:nth-child(5) {
      transition-delay: 0.25s; }
    .sub-menu li a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.2em;
      width: 100%;
      display: block;
      float: left;
      line-height: 40px; }
      .sub-menu li a:hover {
        color: #5698c6; }

.oppenned .sub-menu {
  opacity: 1;
  height: 400px;
  width: 400px; }
.oppenned li {
  margin-right: 168px; }
.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(12px) translateX(12px); }
.oppenned span:nth-child(2) {
  overflow: visible;
  height: 400px;
  width: 400px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: rgba(255, 199, 41, 0.6); }
.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px) translateX(10px); }

/* SECTION Modal */
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn .3s both; }

.modal-wrapper {
  overflow: auto;
  width: 600px;
  height: 500px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  background-color: #fff;
  padding: 20px;
  animation: slideFromTop .5s both; }

.modal[aria-hidden="true"] {
  animation-name: fadeOut; }

.modal[aria-hidden="true"] .modal-wrapper {
  animation-name: slideToBottom; }

.js-modal {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: inherit;
  align-items: center;
  background-image: radial-gradient(circle at center, #00194d, #fff);
  margin-top: 30px;
  transition: all 1s ease-out; }

.js-modal:hover {
  font-weight: bold;
  color: #00194d;
  text-decoration: none;
  background-image: radial-gradient(circle at center, #8BC667, #fff); }

/******* Diaporama *******/
#diaporama {
  position: relative;
  width: 40%;
  margin: 2% auto;
  display: contents; }
  #diaporama button {
    position: absolute;
    top: 55%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer; }

#caroussel {
  position: relative;
  width: 90%;
  height: auto;
  margin: 20px auto;
  border: 10px; }
  #caroussel figcaption {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 3vh;
    font-weight: 600;
    text-align: center; }
  #caroussel figure {
    position: absolute;
    width: 100%;
    height: auto;
    transition: all 2s; }
  #caroussel figure + figure {
    opacity: 0; }
  #caroussel figure:nth-child(1) figcaption {
    top: 20%;
    /* 1ére légende */ }
  #caroussel figure:nth-child(2) figcaption {
    top: 30%;
    /* 2éme légende */ }
  #caroussel figure:nth-child(3) figcaption {
    top: 40%;
    /* 3éme légende */ }
  #caroussel figure:nth-child(4) figcaption {
    top: 20%;
    /* 4éme légende */ }
  #caroussel figure:nth-child(5) figcaption {
    top: 20%;
    /* 5éme légende */ }
  #caroussel img {
    width: 100%;
    max-height: 32vh;
    border-radius: 30px; }

#bouttonDroit {
  right: 1%; }

#bouttonGauche {
  left: 1%; }

.chevron::before {
  content: "";
  position: relative;
  display: inline-block;
  height: 1em;
  width: 1em;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  top: 0.15em; }

.chevron.right:before {
  left: -0.15em;
  transform: rotate(45deg); }

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg); }

/* SECTION CANVAS */
#canvas_container {
  /* container de présentation + canvas + submit */
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: #eeeeee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#canvas_message {
  /* consigne expliquant le canvas */
  background-image: linear-gradient(to bottom, #00194d, #fff);
  flex-wrap: wrap;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px; }
  #canvas_message h1 {
    color: #fff;
    padding: 21px 0;
    margin-left: 20px;
    font-size: 3vh; }

#canvas_div {
  /* div enveloppant le canvas */
  background-color: #eeeeee;
  box-sizing: border-box;
  border-bottom: 6px solid #eeeeee;
  margin: 0;
  width: 100%;
  height: 60%;
  cursor: crosshair; }

#canvas_resa {
  /* canvas */
  box-sizing: border-box;
  display: block;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%; }

#canvas_confirm {
  /* boutons submit + clear */
  border-top: 5px solid #eeeeee;
  height: 20%;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
  box-sizing: border-box; }

#clear_canvas {
  /* remise à zéro du canvas */
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border: 1px solid #00194d;
  border-radius: 3px;
  background-color: #fff;
  font-size: 15px; }

#submit_canvas {
  /* submit du canvas */
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #00194d;
  font-size: 15px;
  color: #fff; }
  #submit_canvas:hover {
    background-color: rgba(0, 29, 100, 0.6); }

footer {
  background-color: rgba(218, 218, 218, 0.6);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 20px 0 20px; }
  footer a {
    text-decoration: none;
    color: #fff; }
  footer p:first-child {
    margin-right: 20px; }

/* SECTION FORMULAIRE */
#form_container form {
  /* le formulaire de réservation */
  display: none; }
#form_container form input {
  margin-top: 20px;
  font-family: 'Nunito', sans-serif, Arial, Helvetica; }

#name {
  /* input name du formulaire */
  font-size: 14px;
  border: 2px solid rgba(218, 218, 218, 0.6);
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 5px 5px 8px;
  width: 50%; }

#firstname {
  /* input firstname du formulaire */
  font-size: 14px;
  border: 2px solid rgba(218, 218, 218, 0.6);
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 5px 5px 8px;
  width: 50%; }

#form_bikes {
  font-family: 'Nunito', sans-serif, Arial, Helvetica; }
  #form_bikes fieldset {
    border: 4px solid rgba(218, 218, 218, 0.6); }
  #form_bikes legend {
    font-weight: bold;
    font-size: 1em;
    padding: 0 10px 0 10px;
    margin: auto;
    width: auto; }

#nobikes {
  /* message en cas d'indisponibilité de vélos */
  display: none;
  margin-left: 20px;
  margin-top: 20px;
  color: #ca273b;
  padding-left: 8px; }

#reservation {
  /* input submit du formulaire */
  cursor: pointer;
  background-color: rgba(255, 199, 41, 0.6);
  padding: 7px 11px 7px 11px;
  border: none;
  border-radius: 3px;
  font-size: 15px; }
  #reservation:hover {
    background-color: #00194d;
    color: #fff; }

#form_confirm {
  /* message de confirmation de réservation */
  color: #fff;
  display: none;
  background: radial-gradient(closest-side, #F5F5F5, rgba(0, 29, 100, 0.6), #F5F5F5);
  padding: 20px;
  text-align: center;
  margin: 30px 30px 50px 30px; }

#confirm_name {
  text-transform: uppercase; }

#timer {
  /* compte à rebours */
  color: #ca273b; }

#form_exp {
  /* message d'expiration de réservation */
  color: #ca273b;
  display: none;
  background-color: #eeeeee;
  padding: 20px;
  text-align: center;
  margin: 30px 30px 50px 30px; }

/* SECTION MAP */
#map_container {
  /* container de la map + formulaire + canvas */
  flex-wrap: wrap;
  margin-bottom: 10px; }

#map {
  height: 450px;
  width: auto;
  box-sizing: border-box; }

#form_container {
  padding: 10px;
  height: 450px;
  background-color: #eeeeee;
  box-sizing: border-box;
  position: relative; }

#before_form {
  /* encart avant l'apparition du formulaire */
  text-align: center; }

.presentation {
  /* classe du texte précédant le formulaire */
  padding: 50px; }

#before_form ul {
  padding-left: 0;
  margin-top: 3em; }
#before_form li {
  /* liste des codes couleurs des marqueurs */
  font-family: 'Nunito', sans-serif, Arial, Helvetica;
  font-weight: normal;
  font-size: 16px;
  list-style: none;
  text-align: left;
  padding-left: 25px;
  margin-bottom: 30px;
  position: relative; }

#before_click {
  font-weight: bold;
  font-size: 18px;
  margin-top: -25px; }

#station_verte::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 50px;
  background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png");
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: -55px; }

#station_orange::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 50px;
  background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png");
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: -55px; }

#station_rouge::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 50px;
  background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png");
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: -55px; }

#station_infos {
  display: none;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px; }
  #station_infos p {
    padding-left: 8px; }

/*# sourceMappingURL=app.css.map */
