@media all and (max-width: 991px) {
    .col-sm-4 {
        display: none;
    }
    .col-sm-8 {
        flex: none;
        max-width: none;
        img {
            min-height: 100%;
        }
    }
    .col-4 {
        display: contents;
    }
    .col-8 {
        flex: none;
        max-width: none;
    }
    #form_container {
        margin: auto;
        width: inherit;
    }
    #form_confirm {
        width: inherit;
    }
}

@media all and (max-width: 1199px) {
    h1 {
        font-size: 2em;
    }
    header-1 span.fa,
    header-2 span.fa,
    header-3 span.fa {
        font-size: 2em;
    }
    header-1 {
        height: 25%;
    }
}

@media all and (min-width: 1199px) {
    header-1 {
        height: 25%;
    }
}