$white: #fff;
$withe-2: #eeeeee;
$whitesmoke: #F5F5F5;
$dark-whithesmoke: rgba(40, 36, 26, 0.43);
$black: rgba(0, 0, 0, 0.8);
$grey: rgba(218, 218, 218, 0.6);
$red: #ca273b;
$green: #8BC667;
$blue: #0079b5;
$blue-2: #004C61;
$light-blue: rgba(0, 124, 180, 0.53);
$yellow: rgba(123, 94, 20, 0.73);

$colorPrimary: $blue;
$colorSecondary: $blue-2;
$cubic-bezier:cubic-bezier(0.68, -0.55, 0.265, 1.55);
