.card {
  margin-bottom: 1em;
  height: 350px;
  @include border-radius(20px)
}

.card-1 {
  margin-bottom: 1em;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: 1px solid $grey;
  border-radius: .25rem;
  @include border-radius(20px)
}
