/* SECTION FORMULAIRE */

#form_container {
  form { /* le formulaire de réservation */
    display: none;
  }

  form input {
    margin-top: 20px;
    font-family: 'Nunito', sans-serif, Arial, Helvetica;
  }
}

#name { /* input name du formulaire */
  font-size: 14px;
  border: 2px solid $grey;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 5px 5px 8px;
  width: 50%;
}

#firstname { /* input firstname du formulaire */
  font-size: 14px;
  border: 2px solid $grey;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 5px 5px 8px;
  width: 50%;
}

#form_bikes {
  font-family: 'Nunito', sans-serif, Arial, Helvetica;

  fieldset {
    border: 4px solid $grey;
  }

  legend {
    font-weight: bold;
    font-size: 1em;
    padding: 0 10px 0 10px;
    margin: auto;
    width: auto;
  }
}

#nobikes { /* message en cas d'indisponibilité de vélos */
  display: none;
  margin-left: 20px;
  margin-top: 20px;
  color: $red;
  padding-left: 8px;
}

#reservation { /* input submit du formulaire */
  cursor: pointer;
  background-color: $yellow;
  padding: 7px 11px 7px 11px;
  border: none;
  border-radius: 3px;
  font-size: 15px;

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

#form_confirm { /* message de confirmation de réservation */
  color: $white;
  display: none;
  background: radial-gradient(closest-side, $whitesmoke, $blue-2, $whitesmoke);
  padding: 20px;
  text-align: center;
  margin: 30px 30px 50px 30px;
}

#confirm_name {
  text-transform: uppercase;
}

#timer { /* compte à rebours */
  color: $red;
}

#form_exp { /* message d'expiration de réservation */
  color: $red;
  display: none;
  background-color: $withe-2;
  padding: 20px;
  text-align: center;
  margin: 30px 30px 50px 30px;
}
