/* SECTION MAP */

#map_container { /* container de la map + formulaire + canvas */
  flex-wrap: wrap;
  margin-bottom: 10px;
}

#map {
  height: 450px;
  width: auto;
  box-sizing: border-box;
}

#form_container {
  padding: 10px;
  height: 450px;
  background-color: $withe-2;
  box-sizing: border-box;
  position: relative;
}

#before_form { /* encart avant l'apparition du formulaire */
  text-align: center;
}

.presentation { /* classe du texte précédant le formulaire */
  padding: 50px;
}

#before_form {
  ul {
    padding-left: 0;
    margin-top: 3em;
  }

  li { /* liste des codes couleurs des marqueurs */
    font-family: 'Nunito', sans-serif, Arial, Helvetica;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 30px;
    position: relative;
  }
}

#before_click {
  font-weight: bold;
  font-size: 18px;
  margin-top: -25px;
}

#station_verte::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 50px;
  background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png");
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: -55px;
}

#station_orange::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 50px;
  background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png");
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: -55px;
}

#station_rouge::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 50px;
  background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png");
  background-repeat: no-repeat;
  background-size: 30px;
  margin-left: -55px;
}

#station_infos {
  display: none;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;

  p {
    padding-left: 8px;
  }
}
